.trigger {
    font-size: 18px;
    line-height: 64px;
    padding: 0 24px;
    cursor: pointer;
    transition: color 0.3s;
  }
  
.trigger:hover {
    color: #1890ff;
  }
  
.logo {
  height: 32px;
  // background: rgba(255, 255, 255, 0.2);
  margin: 16px;
  &>img{
    width: 100%;
  }
}
  
.site-layout .site-layout-background {
  background: #fff;
  position: relative;
  min-width: 1200px;
  .user{
    position: absolute;
    right: 40px;
    top: 0;
    z-index: 100;
    // background-color: coral;
    .ant-dropdown-menu{
      font-size: 12px;
      li{
        font-size: 12px;
      }
      background-color: coral;
    }
    .avatar{
      margin-right: 10px;
    }
    
  }
  .drop-menu{
    margin-top: 20px;
    font-size: 12px;
    background-color: coral;
  }
} 
.ant-layout{
  height: 100%;
  .ant-layout-sider{
    height: 100%;
    .ant-layout-sider-children{
      overflow-x: hidden;
      overflow-y: auto;
    }
    .ant-menu-inline-collapsed > .ant-menu-item{
      padding: 0;
      text-align: center;
    }
  }
}
  