.attendance{
    background-color: #fff;
    min-height: 300px;
    padding: 20px;
    border-radius: 6px;
    .title{
        font-size: 24px;
        border-left: 4px solid #1890FF;
        padding-left: 15px;
        line-height: 24px;
        margin-bottom: 20px;
    }
}